In [1]:
'''
Problem definitions:
One day ahead prediction: Rolling Linear Regression, ARIMA, Neural Networks, LSTM
Momentum/Mean-Reversion Strategies
Security clustering, portfolio construction/hedging
Which company has biggest chance of being bankrupt? Which one is undervalued (how prices behaved afterwards), what is Return on Investment?

'''

'\nProblem definitions:\nOne day ahead prediction: Rolling Linear Regression, ARIMA, Neural Networks, LSTM\nMomentum/Mean-Reversion Strategies\nSecurity clustering, portfolio construction/hedging\nWhich company has biggest chance of being bankrupt? Which one is undervalued (how prices behaved afterwards), what is Return on Investment?\n\n'

## 1) applying statistical concepts to dataset

In [2]:
# read data
import pandas as pd
import numpy as npx`

price = pd.read_csv('prices-split-adjusted.csv')
price = price.set_index('symbol')

In [11]:
# linear regression
price.loc[['CI']]

              date        open       close         low        high     volume
symbol
CI      2010-01-04   35.270000   36.369999   35.180000   36.410000  3227300.0
CI      2010-01-05   36.419998   36.980000   35.990002   37.500000  4564300.0
CI      2010-01-06   36.939999   36.900002   36.540001   37.560001  2611900.0
CI      2010-01-07   36.169998   38.259998   36.000000   38.400002  4950900.0
CI      2010-01-08   38.360001   37.970001   37.509998   38.360001  2717900.0
CI      2010-01-11   38.049999   37.369999   37.130001   38.250000  2409800.0
CI      2010-01-12   37.240002   36.540001   36.139999   37.369999  4353800.0
CI      2010-01-13   36.680000   36.450001   35.630001   37.049999  5431700.0
CI      2010-01-14   36.320000   36.770000   35.869999   36.919998  3356200.0
CI      2010-01-15   36.720001   36.840000   35.820000   37.000000  4148100.0
CI      2010-01-19   37.160000   37.919998   37.009998   38.880001  7779800.0
CI      2010-01-20   38.500000   38.200001   37.930000   39.259998  6612300.0
CI      2010-01-21   38.310001   37.049999   36.950001   38.860001  4185900.0
CI      2010-01-22   36.959999   36.720001   36.529999   38.080002  4325200.0
CI      2010-01-25   37.209999   36.349998   36.299999   37.209999  3221000.0
CI      2010-01-26   34.720001   34.360001   33.980000   35.419998  8537300.0
CI      2010-01-27   34.209999   34.590000   33.750000   34.980000  4046400.0
CI      2010-01-28   34.799999   34.490002   34.480000   35.340000  3673700.0
CI      2010-01-29   34.529999   33.770000   33.709999   34.639999  2617100.0
CI      2010-02-01   33.689999   33.790001   33.119999   34.439999  4718200.0
CI      2010-02-02   33.830002   35.240002   33.639999   35.360001  4455400.0
CI      2010-02-03   35.020000   34.759998   34.000000   35.200001  4012700.0
CI      2010-02-04   34.630001   33.520000   33.090000   35.639999  6359800.0
CI      2010-02-05   33.439999   33.360001   32.700001   33.990002  5361000.0
CI      2010-02-08   33.240002   33.080002   32.730000   33.840000  2747900.0
CI      2010-02-09   33.490002   33.480000   32.680000   33.750000  2863900.0
CI      2010-02-10   33.320000   33.060001   32.570000   33.500000  3263900.0
CI      2010-02-11   32.900002   33.340000   32.590000   33.410000  3037900.0
CI      2010-02-12   32.869999   32.759998   32.270000   32.930000  4100000.0
CI      2010-02-16   32.099998   32.720001   32.000000   32.720001  4182000.0
...            ...         ...         ...         ...         ...        ...
CI      2016-11-17  137.229996  140.000000  136.259995  140.199997  1140800.0
CI      2016-11-18  139.619995  138.699997  136.729996  142.000000  1171300.0
CI      2016-11-21  138.130005  137.080002  136.039993  139.949997  1076100.0
CI      2016-11-22  137.350006  139.729996  136.720001  140.770004  1457200.0
CI      2016-11-23  139.699997  139.529999  136.809998  140.500000   843100.0
CI      2016-11-25  139.880005  138.669998  138.529999  141.479996   306600.0
CI      2016-11-28  138.830002  136.770004  136.199997  139.339996  1189100.0
CI      2016-11-29  136.770004  138.300003  136.770004  139.949997  1391600.0
CI      2016-11-30  137.960007  134.740005  134.529999  138.050003  2086800.0
CI      2016-12-01  134.169998  134.500000  134.169998  136.919998  1638300.0
CI      2016-12-02  135.080002  133.440002  132.630005  135.949997  1386000.0
CI      2016-12-05  133.649994  134.699997  131.649994  135.449997  1083700.0
CI      2016-12-06  135.509995  137.250000  134.130005  137.740005  1115300.0
CI      2016-12-07  136.880005  136.830002  135.809998  137.520004  1684700.0
CI      2016-12-08  136.509995  137.130005  135.100006  138.570007  1118200.0
CI      2016-12-09  137.169998  134.800003  133.869995  137.940002  1416300.0
CI      2016-12-12  134.029999  132.380005  131.029999  134.399994  1169500.0
CI      2016-12-13  132.910004  134.570007  131.520004  135.820007  1278300.0
CI      2016-12-14  135.229996  133.240005  132.309998  135.839996   855900.0
CI      2016-12-15  133.190002  133.990005  131.259995  134.559998   919500.0
CI      2016-12-16  134.860001  136.759995  134.850006  137.699997  2284800.0
CI      2016-12-19  137.589996  138.089996  136.839996  139.000000  1211800.0
CI      2016-12-20  138.100006  137.110001  136.550003  139.740005  1107100.0
CI      2016-12-21  137.429993  137.070007  135.869995  137.429993   730100.0
CI      2016-12-22  136.899994  136.970001  135.460007  137.500000  1097600.0
CI      2016-12-23  137.429993  138.610001  136.449997  138.639999   431900.0
CI      2016-12-27  138.259995  139.389999  138.259995  140.699997   481100.0
CI      2016-12-28  139.610001  137.000000  137.000000  140.300003   818300.0
CI      2016-12-29  137.539993  135.500000  135.190002  138.679993   641700.0
CI      2016-12-30  135.570007  133.389999  133.110001  135.889999  1199600.0

[1762 rows x 6 columns]

In [11]:
price.head()

              date        open       close         low        high     volume
symbol
WLTW    2016-01-05  123.430000  125.839996  122.309998  126.250000  2163600.0
WLTW    2016-01-06  125.239998  119.980003  119.940002  125.540001  2386400.0
WLTW    2016-01-07  116.379997  114.949997  114.930000  119.739998  2489500.0
WLTW    2016-01-08  115.480003  116.620003  113.500000  117.440002  2006300.0
WLTW    2016-01-11  117.010002  114.970001  114.089996  117.330002  1408600.0